.tabs 
{
	display: flex;
	flex-wrap: wrap;  /*sørger for at den wraps*/
}
.tabs label 
{
	order: 1; /* putter labels først*/
	display: block;
	padding: 1rem;
	margin-right: 0.2rem;
}
.tabs .tab 
{
  order: 99; /* putter tabs sist*/
  flex-grow: 1;
	width: 100%;
	display: flex;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label 
{
	background: #fff; /* Uthev valgt tab */
}
.tabs input[type="radio"]:checked + label + .tab 
{
	display: block; /* Vis valgt tab innhold */
}

.header 
{
  display: flex;
  flex-wrap: wrap;
  background-color: #d69945;
  padding: 10px;
}

.header a 
{
  color: #333;
  text-decoration: none; /*Fjerner understrek fra lenker */
  padding: 10px 15px;
  margin-left: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

.header a:hover 
{
  background-color: #bbb; /*Endrer bakgrunnsfarge når musen er over */
}


.vertical_form 
{ /*Brukes for at skjemaet skal være vertikalt */
    display: static;
    flex-direction: column; /* Stable form elementet vertikalt */
    gap: 10px;
}

.vertical_form label 
{
    margin-bottom: 10px;
}

.vertical_form input,
.vertical_form select 
{
    width: 100%; /* Full bredde for input og select */
    padding: 10px;
}

/*
 Generisk styling av nettstedet
*/
body 
{
  background: #666699;
  min-height: 110vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 1 auto;
  font-size: 100%;
}



