/**
 * Tabs
 */

 
.tabs {
	display: flex;
	flex-wrap: wrap;  //make sure it wraps
}
.tabs label {
	order: 1; // Put the labels first
	display: block;
	padding: 1rem;
	margin-right: 0.2rem;
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
	width: 100%;
	display: flex;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

.vertical-form {
    display: static;
    flex-direction: column;
    gap: 10px;
}

.vertical-form label {
    margin-bottom: 10px;
}

.vertical-form input,
.vertical-form select {
    width: 100%;
    padding: 10px;
}

/**
 * Generic Styling
*/
body {
  background: #666699;
  min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 1 auto;
  font-size: 100%;
}

